@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
}